body{
    background-color: rgb(216, 231, 252);
}

.json-style {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-family: Consolas, monospace;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.4;
}
