<h1>Тестування API: User</h1>
<table>
    <tbody>
        <tr>
            <td><button id="api-user-token-button">Token</button></td>
            <td id="api-user-token-result"></td>
        </tr>
        <tr>
            <td><button id="api-product-get-button">Product</button></td>
            <td id="api-product-get-result"></td>
        </tr>
        <tr>
            <td><button id="api-user-get-button">GET</button></td>
            <td id="api-user-get-result"></td>
        </tr>
        <tr>
            <td><button data-body='{"name": "Користувач", "surname": "Досвідчений", "date": {"year": 2000, "month": 3, "day": 10}}'
                 id="api-user-post-button">POST</button></td>
            <td id="api-user-post-result"></td>
        </tr>
        <tr>
    <td><button data-test="no-auth">TEST no Authorization</button></td>
    <td class="test-result"></td>
</tr>
<tr>
    <td><button data-test="bad-scheme">TEST bad scheme</button></td>
    <td class="test-result"></td>
</tr>
<tr>
    <td><button data-test="no-dot">TEST no dot</button></td>
    <td class="test-result"></td>
</tr>
<tr>
    <td><button data-test="bad-b64">TEST bad base64</button></td>
    <td class="test-result"></td>
</tr>

        <tr>
            <td><button data-test="nbf">TEST nbf</button></td>
            <td class="test-result"></td>
        </tr>
        <tr>
            <td><button data-test="exp">TEST exp</button></td>
            <td class="test-result"></td>
        </tr>

        
    </tbody>
</table>