<h1>Тестування API: User</h1>
<table>
    <tbody>
        <tr>
            <td><button id="api-user-token-button">Token</button></td>
            <td id="api-user-token-result"></td>
        </tr>
        <tr>
            <td><button id="api-product-get-button">Product</button></td>
            <td id="api-product-get-result"></td>
        </tr>
        <tr>
            <td><button id="api-user-get-button">GET</button></td>
            <td id="api-user-get-result"></td>
        </tr>
        <tr>
            <td><button data-body='{"name": "Користувач", "surname": "Досвідчений", "date": {"year": 2000, "month": 3, "day": 10}}'
                 id="api-user-post-button">POST</button></td>
            <td id="api-user-post-result"></td>
        </tr>
        <tr>
    <td><button data-test="no-auth">TEST no Authorization</button></td>
    <td class="test-result"></td>
</tr>
<tr>
    <td><button data-test="bad-scheme">TEST bad scheme</button></td>
    <td class="test-result"></td>
</tr>
<tr>
    <td><button data-test="no-dot">TEST no dot</button></td>
    <td class="test-result"></td>
</tr>
<tr>
    <td><button data-test="bad-b64">TEST bad base64</button></td>
    <td class="test-result"></td>
</tr>

        <tr>
            <td><button data-test="nbf">TEST nbf</button></td>
            <td class="test-result"></td>
        </tr>
        <tr>
            <td><button data-test="exp">TEST exp</button></td>
            <td class="test-result"></td>
        </tr>

        
    </tbody>
</table>

<hr/>
<h1>Самотестування авторизації</h1>
<button id="all-self-tests">Запустити всі тести</button>

<table>
    <thead>
        <tr>
            <th>Тест</th>
            <th>Результат</th>
            <th>Подробиці</th>
        </tr>
    </thead>
    <tbody>
        <tr data-selftest>
            <td>
                Контроль схеми авторизації
                <button data-token="Basic 123">Пуск</button>
            </td>
            <td data-result></td>
            <td data-details
                data-http-status="200"
                data-status-phrase="OK"
                data-status-code="200"
                data-auth-code="401"
                data-auth-data="Authorization scheme must be Bearer"
                data-auth-status="false">
            </td>


        </tr>

          <tr data-selftest>
            <td>
                Контроль успішної авторизації
                <button data-token="Bearer eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJuYW1lIjogIkRlZmF1bHQgQWRtaW5pc3RyYXRvciIsICJlbWFpbCI6ICJhZG1pbkBsb2NhbGhvc3QiLCAiaXNzIjogIlNlcnZlci1LTi1QLTIyMiIsICJpYXQiOiAxNzY2NzUxOTQ4LCAiZXhwIjogMjM3MTU1MTk0OCwgInN1YiI6ICI2OTIzMWM1NS05ODUxLTExZjAtYjFiNy02MjUxNzYwMDU5NmMiLCAianRpIjogImZjZTg2ZTAwLTVmNmUtNDMzYi04Y2MwLWNlNzUwZTg2MDI2NiJ9.vX7V8vItGoJjtwjBlwKyARU-gGOo1NGq-c1eFTFsugY=">Пуск</button>
            </td>
            <td data-result></td>
            <td data-details
                data-status-code="200"
                data-status-phrase="OK"
                data-auth-code="200"
                data-auth-data="69231c55-9851-11f0-b1b7-62517600596c"
                data-auth-status="true">
            </td>


        </tr>
    </tbody>
</table>
