{% extends 'layout.html' %}

{% block title %}Transfer{% endblock %}

{% block main_content %}
    <h1>Контекст та передача даних до шаблону</h1>
    <p>
        Контекст (контекст запиту) - оточення через яке передаються дані для 
        шаблону відображення. З точки зору мови програмування - це <code>dict</code> -
        структура в стилі ключ-значення. Ключі dict стають змінними контексту. 
    </p>
    <p>
        Дані передаються через інструкцію <code>template.render(context, request)</code>,
        у шаблоні дані доступні через спец. синтаксис &#123;&#123;&#125;&#125;:
        x = {{x}}, str = {{str}}
    </p>
    <p>
        {% for key, value in all.items %}
            {{ key }}: {{ value }}<br>
        {% endfor %}
    </p>
    <p>
        матеріали відображені {{ now|date:"d.m.Y" }} о {{ now|date:"H:i" }}
    </p>
{% endblock %}